.footer
{
    position: absolute;
    background-color: black;
    margin: 0 auto;
    right: 0;
    left: 0;
    padding: 30px;
    margin-top: 100px;
}

.footer h1
{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.footer p
{
    color: white;
    text-align: center;
}